<div class="row">
  <div class="col-12">
    <h1>Solicitar Análise</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 text-start ">
    <div class="card" *ngIf="!novoMotorista">
      <div class="card-body">
        <h5 class="card-title">Motorista: {{motorista.nome}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{motorista.telefone}} - {{motorista.email}}</h6>
        <p class="card-text">
          <b>Data Nascimento: </b>{{motorista.dataNascimento}}
        </p>
        <p>
          <b>Endereço: </b>Rua noel rosa, 803 Jardim Paraventi Guarulhos - SP<br>
        </p>
      </div>
    </div>
    <div *ngIf="novoMotorista">
      <h3>Motorista</h3>
      <hr>
      <input type="text" placeholder="Nome usuário" class="form-control" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="motorista.nome"  />
    </div>
  </div>
</div>

<div class="row text-start mt-5">
  <h3>Proprietário</h3>
  <hr>
  <div class="row">
    <div class="col-3">
      <label for="inputNomeProprietario" class="form-label">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.nome" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-2">
      <label for="inputCpf" class="form-label">CPF - CNPJ</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.cpfCnpj" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-2">
      <label for="inputTelefone" class="form-label">Telefone</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.telefone" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row mt-5">
    <h3>Endereço Proprietário</h3>
    <hr>
    <div class="col-2">
      <label for="inputCepProprietario" class="form-label">Cep</label>
      <input type="text" class="form-control" (change)="buscarEndereco()" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.cep" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-2">
      <label for="inputNumeroProprietario" class="form-label">Número</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.numero" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-8"></div>

    <div class="col-3">
      <label for="inputRua" class="form-label">Rua</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.rua" [ngModelOptions]="{standalone: true}" disabled>
    </div>

    <div class="col-3">
      <label for="inputBairro" class="form-label">Bairro</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.bairro" [ngModelOptions]="{standalone: true}" disabled>
    </div>

    <div class="col-3">
      <label for="inputCidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.nomeCidade" [ngModelOptions]="{standalone: true}" disabled>
    </div>
    <div class="col-md-2">
      <label for="inputEstado" class="form-label">Estado</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.estado" [ngModelOptions]="{standalone: true}" disabled>

    </div>
    <div class="col-md-3 mb-5">
      <label for="inputComplemento" class="form-label">Complemento</label>
      <input type="text" class="form-control" [(ngModel)]="solicitarAnaliseCommandModel.proprietario.complemento" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-start"><!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Adicionar Veículo
    </button>
  </div>
</div>

<div class="row">
  <div class="row g-0 border mb-5 text-start" *ngFor="let vei of solicitarAnaliseCommandModel.veiculos">
    <div class="col-md-3 me-1 me text-center pt-3 pb-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-truck "
        viewBox="0 0 16 16">
        <path
          d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />

      </svg>
    </div>
    <div class="col-md-4 mt-5">
      <b>Veículo: </b>Marca - Modelo<br>
      <b>Cor: </b>Preta<br>
      <b>Tipo: </b>Bitrem<br>
      <b>Placa: </b>AAA-9999<br>
      <b>Renavam: </b>0000000000000<br>
      <b>Chassi: </b>0000000000000<br>
      <b>Data Licenciamento: </b>10/10/2020<br>
    </div>

    <div class="col-md-4 mt-5">
      <b>Ano de Fabricação: </b>2000<br>
      <b>Ano Modelo: </b>2000<br>
      <b>Estado: </b>SP<br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary" (click)="solicitarAnalise()">
      Solicitar Análise
    </button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Veículo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row text-start mt-2">
          <div class="col-3">
            <label for="inputTipoVeiculo" class="form-label">Tipo</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.tipo" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputPlacaVeiculo" class="form-label">Placa</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.placa" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-3">
            <label for="inputChassiVeiculo" class="form-label">Chassi</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.chassi" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-3">
            <label for="inputRenavamVeiculo" class="form-label">Renavam</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.renavam" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputDataLicenciamentoVeiculo" class="form-label">Data Licenciamento</label>
            <input type="date" class="form-control" [(ngModel)]="veiculo.dataLicenciamento" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputCorVeiculo" class="form-label">Cor</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.cor" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputMarcaVeiculo" class="form-label">Marca</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.marca" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputModeloVeiculo" class="form-label">Modelo</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.modelo" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputAnoFabricacaoVeiculo" class="form-label">Ano Fabricação</label>
            <input type="number" class="form-control" [(ngModel)]="veiculo.anoFabricacao" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputAnoModeloVeiculo" class="form-label">Ano Modelo</label>
            <input type="number" class="form-control" [(ngModel)]="veiculo.anoModelo" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-2">
            <label for="inputEstadoVeiculo" class="form-label">Estado</label>
            <input type="text" class="form-control" [(ngModel)]="veiculo.estado" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="adicionarVeiculo()">Adicionar
          Veículo</button>
      </div>
    </div>
  </div>
</div>
