<header class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">

    <a class="navbar-brand" href="#">
      <img src="caminho-da-logo.png" alt="Logo" height="30">
    </a>

    <div class="collapse navbar-collapse flex-row-reverse mt-3 mb-3 " id="navbarNav">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/add-motorista']">Adicionar Motorista</a>
          <a class="nav-link" [routerLink]="['/list-motorista']">Listar Motorista</a>
          <a class="nav-link" [routerLink]="'/00000000-0000-0000-0000-000000000000/solicitar-analise'">Solicitar Análise</a>
        </li>
      </ul>
    </div>
  </div>
</header>




<main class="container text-center mt-5 mb-5">
  <router-outlet></router-outlet>
</main>

<header class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark --bs-light-text-emphasis mt-5">
  <div class="container">
    <div class="row">
      <div class="col-2 link-light">
        
        <div *ngFor="let notification of notifications">teste: {{ notification.data }} {{ notification.key2 }}</div>

      </div>
    </div>



    <div class="collapse navbar-collapse flex-row-reverse mt-3 mb-3 " id="navbarNav">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/add-motorista']">Adicionar Motorista</a>
          <a class="nav-link" [routerLink]="['/list-motorista']">Listar Motorista</a>
          <a class="nav-link" [routerLink]="'/00000000-0000-0000-0000-000000000000/solicitar-analise'">Solicitar Análise</a>
        </li>
      </ul>
    </div>
  </div>
</header>
